ul.sub-menu {
	width: 310px;
}
.navbar-nav li ul.sub-menu li {
    display: inline-block;
}
.breadcrumb {
    background: transparent;
    background-image: -webkit-linear-gradient(right,rgb(129, 189, 5) 0%,transparent 110%);
    background-image: linear-gradient(to right,rgb(129, 189, 5) 0%,transparent 110%);
    background-repeat: repeat-y;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='transparent', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 1em;
    color: #fff;
    margin-bottom: 15px;
    border-left: 4px solid #69960c;
    padding: 2px 20px;
    list-style: none;
    border-radius: 4px;
}
.breadcrumb > li {
    display: inline-block;
    font-size: 17px;
    padding: 4px 0;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #1451a0;
    content: "/\00a0";
}
.fa {
    line-height: inherit;
}
.product-image-wrapper {
    border: 1px solid #09fd76;
    /* overflow: hidden; */
    margin-bottom: 30px;
}
.productinfo h3.price {
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
}